mixin-linear-gradient() {
    background: -webkit-linear-gradient(arguments);
    background: -moz-linear-gradient(arguments);
    background: -o-linear-gradient(arguments);
    background: -ms-linear-gradient(arguments);
    background: linear-gradient(arguments);
}